body {
	background: url('loginpic.jpg');
	background-size: cover;
	background-attachment: fixed;
}
.form {
	background: rgba(50, 8, 189, 0.1);
	padding: 20px;
	margin-top: 250px;
	border-radius: 10px;
}
